header img {
    width: 150px;
    height: 90px;
}

.jumbotron {
    background-color: #227BBF;
    color: whitesmoke;
}

.gif{
    text-align: center;
    padding: 50px;
}

.img {
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
}

.form-wrap {
    background-color: #9C38A7;
    color: whitesmoke;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.form {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    max-width: 80vw;
}

.form p{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}